@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
     font-family: 'Reggae One', cursive, 'Courier New';
}

<<<<<<< HEAD

=======
>>>>>>> ec6cd92be863b1b69b38e0230955b4bf2567dd26
.btn {
     margin-top: 24px;
     text-decoration: none;
     color: #FFF;
     font-size: 20px;
     font-weight: 700;
     letter-spacing: 2px;
     text-transform: uppercase;
<<<<<<< HEAD
     background-color: rgb(247,189,35);
=======
     background-color: salmon;
>>>>>>> ec6cd92be863b1b69b38e0230955b4bf2567dd26
     padding: 12px;
     border-radius: 8px;
     cursor: pointer;
     margin-left: 4px;
     margin-right: 4px;
}